# Dependencies
node_modules

# Build artifacts
assets
wg-ui
wireguard-ui
coverage.out
coverage

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Git
.git
.gitattributes
.gitignore

# IDE
.vscode
*.code-workspace

# App data
db

# CI/CD
.github
examples
